---
import '../styles/global.css'

// Components Imports
import Body from '../layouts/Body.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import MainHead from '../components/MainHead.astro'
---

<head>
  <MainHead
    title="Work | Espera Awo"
    description="Learn about Espera Awo's most recent projects"
  />
</head>
<Body>
  <Header />
  <main class="pt-[20px]">
    <Content>
      <h1 class="text-3xl font-semibold">Blog</h1>
      <h1>Coming soon !</h1>
    </Content>
  </main>
</Body>
