---
// Component Imports
import Header from '../components/Header.astro'
import MainHead from '../components/MainHead.astro'
import Body from '../layouts/Body.astro'
import { FaDog } from 'react-icons/fa'

// Data Fetching: List all Markdown posts in the repo.
//const projects = await Astro.glob('./project/**/*.md')
//const featuredProject = projects[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Espera Awo: Personal Site"
      description="Espera Awo: App Developer"
    />
  </head>
  <Body>
    <Header />
    <main class="flex flex-col items-center justify-center ">
      <div class="flex-1"></div>
      <div class="text-6xl text-center">Hi, I'm Espera</div>
      <p class="mt-8 text-xl font-bold">
        Developing amazing apps at <a class="link">OPEN SI</a>.
      </p>
    </main>
  </Body>
</html>
