---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'

// Data Fetching: List all Markdown posts in the repo.
//const projects = await Astro.glob('./project/**/*.md')
//const featuredProject = projects[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Espera Awo: Personal Site"
      description="Espera Awo: Developer, Speaker, and Writer..."
    />
    <style>

    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <header><Nav /></header>
    <main
      class="flex-1 font-quicksand flex flex-col justify-center items-center px-8"
    >
      <div class="text-6xl text-center">Hi, I'm Espera Awo</div>
      <div class="mt-8 text-xl font-bold">A Software Developer from Benin</div>
    </main>
  </body>
</html>
