---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import PortfolioPreview from '../components/PortfolioPreview.astro'

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md')
const featuredProject = projects[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Espera Awo: Personal Site"
      description="Espera Awo: Developer, Speaker, and Writer..."
    />
    <style>
    </style>
  </head>
  <body>
    <Nav />
    <main></main>
    <Footer />
  </body>
</html>
