---
// Components imports
import PortfolioPreview from '../components/PortfolioPreview.astro'
import MainHead from '../components/MainHead.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Body from '../layouts/Body.astro'

// Data fetching: List all markdown files in project folder
const projects = (await Astro.glob('./project/**/*.md'))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
---

<html lang="en">
  <head>
    <MainHead
      title="All Projects | Jeanine White"
      description="Learn about Jeanine White's most recent projects"
    />
  </head>
  <Body>
    <Header />
    <main class="mt-8">
      <Content>
        <h1 class="text-5xl tracking-tight font-normal">Work</h1>
        <div class="mt-10">A selection of recent and past projects</div>
        <div class="grid grid-cols-1">
          {projects.map(project => <PortfolioPreview project={project} />)}
        </div>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
