---
import type { Work } from '../models/work'

import '../styles/global.css'

import Nav from '../components/Nav.astro'
import WorkList from '../components/WorkList.astro'
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'
import Body from '../layouts/Body.astro'

import { WORKS } from '../config'

const filterWorks = (tag: String) => {
  return WORKS.filter((el: Work) => el.tag == tag)
}
---

<html lang="en">
  <head>
    <MainHead
      title="Work | Espera Awo"
      description="Learn about Espera Awo's most recent projects"
    />
    <style>
      .title {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <Body>
    <header>
      <Nav />
      <main>
        <div class="flex flex-col">
          <span class="text-3xl font-semibold font-quicksand">Work</span>
          <p class="font-extralight">
            List of projects I&apos;ve worked on so far.
          </p>
        </div>
        <section class="mt-8">
          <h1 class="text-xl font-light">Latest</h1>
          <WorkList works={filterWorks('latest')} />
        </section>
        <section class="mt-4">
          <h1 class="text-xl font-light">Old Projects</h1>
          <WorkList works={filterWorks('old')} />
        </section>
      </main>
      <Footer />
    </header>
  </Body>
</html>
