---
import type { Work } from '../models/work'

import '../styles/global.css'

import WorkList from '../components/WorkList.astro'
import MainHead from '../components/MainHead.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Body from '../layouts/Body.astro'

import { WORKS } from '../config'
import Header from '../components/Header.astro'

const filterWorks = (tag: String) => {
  return WORKS.filter((el: Work) => el.tag == tag)
}
---

<html lang="en">
  <head>
    <MainHead
      title="Work | Espera Awo"
      description="Learn about Espera Awo's most recent projects"
    />
  </head>
  <Body>
    <Header />
    <main class="pt-[20px]">
      <Content>
        <div class="flex flex-col">
          <span class="text-3xl font-semibold">Work</span>
          <p class="font-extralight">
            List of projects I&apos;ve worked on so far.
          </p>
        </div>
        <section class="mt-8">
          <h1 class="text-xl font-light">Latest</h1>
          <WorkList works={filterWorks('latest')} />
        </section>
        <section class="mt-4">
          <h1 class="text-xl font-light">Old Projects</h1>
          <WorkList works={filterWorks('old')} />
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
