---
import '../styles/global.css'

// Components Imports
import Nav from './Nav.astro'
import ThemeToggle from './ThemeToggleButton'
import { IoLogoGithub } from 'react-icons/io5'
---

<header class="px-6 py-2 mx-auto max-w-lg text-lg font-light">
  <div class="flex items-center">
    <a href="/"> Espera Awo</a>
    <div class="flex-1"></div>
    <Nav />
    <a href="https://github.com/esperaking81" class="link mx-4">
      <IoLogoGithub />
    </a>
    <ThemeToggle client:load />
  </div>
</header>
