---
import '../styles/global.css'

// Components Imports
import { IoBriefcase, IoJournal } from 'react-icons/io5'
---

<nav class="font-extralight">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="hidden md:flex gap-8">
        <a class="nav-link" href="/work/"> Work</a>
        <a class="link" href="/blog/"> Blog</a>
      </div>
      <div class="flex gap-4 md:hidden">
        <a class="link" href="/work/"><IoBriefcase /></a>
        <a class="link" href="/blog/"><IoJournal /></a>
      </div>
    </div>
  </div>
</nav>
