---
import '../styles/global.css'
---

<nav>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="inline-flex items-center gap-2">
        <a href="/projects/"> Work</a>
        <a href="/blog/"> Blog</a>
      </div>
    </div>
  </div>
</nav>
