---
export interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<body
  class={`text-lg font-light dark:bg-slate-900 text-slate-900 dark:text-slate-300 break-words leading-6 transition-colors duration-500 ${className}`}
>
  <slot/>
</body>
